<div ng-controller="DiaryEntryCtrl">
	<a ui-sref="diary">Back</a>
	<button ng-click="diaryEntry.save()">Save</button>
	<button ng-click="diaryEntry.delete()">Delete</button>
	<span>Last saved: {{diaryEntry.entry.updated_datetime | pmFormatDate}} </span>
	<div class="pim-diary-entry">	
		<div class="title">			
			<textarea ng-model="diaryEntry.entry.title" rows="1" placeholder="Enter a title..." maxlength="128"></textarea>
		</div>
		<div class="content">
			<textarea ng-model="diaryEntry.entry.content"></textarea>
		</div>	
	</div>
</div>
<style>
	.pim-diary-entry{
		
	}
	.pim-diary-entry .title {
		margin-top: 10px;
		width: 100%;
	}
	.pim-diary-entry .title input{			
		width: 100%;		
	}
	.pim-diary-entry .content{		
		width: 100%;	
	}
	.pim-diary-entry textarea{						
		/*background-image: -webkit-linear-gradient(left, #fff 10px, transparent 10px), -webkit-linear-gradient(right, #fff 10px, transparent 10px), -webkit-linear-gradient(#fff 23px, #ddd 23px, #ddd 24px, #fff 24px); */
		background-size: 100% 100%, 100% 100%, 100% 24px;
		border: none;		
		border-radius: 2px;
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
		line-height: 24px;		
		padding: 4px 9px;    
		width:calc(100% - 20px);      	
		max-width: 700px;	
	}

	.pim-diary-entry textarea:focus {
		border: none;
		outline:none;
	}

	.pim-diary-entry .content textarea {
		height: 500px;
	}
</style>