arrow==1.2.3
b2sdk==1.19.0
boto3==1.26.37
botocore==1.29.37
Brlapi==0.8.2
certifi==2020.6.20
chardet==4.0.0
cupshelpers==1.0
dbus-python==1.2.16
distro==1.5.0
idna==2.10
jmespath==1.0.1
logfury==1.0.1
louis==3.16.0
numpy==1.19.5
pycairo==1.16.2
pycups==2.0.1
PyGObject==3.38.0
pysmbc==1.0.23
python-dateutil==2.8.2
python-dotenv==0.21.0
pyxdg==0.27
requests==2.25.1
s3transfer==0.6.0
six==1.16.0
specan==0.0.0
tqdm==4.64.1
urllib3==1.26.5
xdg==5
