#I only read/write to the @aarongreenwald scope in ci/deploy. Github actions
#automatically populates GITHUB_TOKEN. To pull the package the env variable
#must be present as well, with a PAT with packages:read scope
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
@aarongreenwald:registry=https://npm.pkg.github.com